.body {
    background-color: #151515;
}

.card {
    background-color: #B4A5A5;
    border: 0.25rem solid #B4A5A5;
    border-radius: 10px;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    color: #151515;
}

.card-text {
    color: #151515;
}

.btn-primary {
    background-color: #301B3F;
    border-color: #301B3F;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #3C415C;
    border-color: #3C415C;
}

.mb-4 {
    margin-top: 0.33rem;
}